header.header
  .wrapper
    //- Левая часть
    .header__left
      a.header__logo(href="#")
        include ../components/logo.pug
      .header__menu
        a.header__menu-item(href="#") Home
        a.header__menu-item(href="#") Invest
        a.header__menu-item(href="#") Get funding
        a.header__menu-item(href="#") Blog
        a.header__menu-item(href="#") Help
        a.header__menu-item(href="#")
          img(src="./img/search.png", alt="")
          | Search

    //- Правая часть
    .header__right
      .header__right-item
        .header__right-container
          .header__right-name John Smith
          .header__right-id id: 3232323232323
      .header__right-item
        a.header__settings(href="#")
          include ../components/settings.pug
        a.header__bell(href="#")
          include ../components/bell.pug
      .header__right-item
        a.header__logout(href="#") Log Out