//- Для демонстрации использую рандом
-
  var random = Math.round(Math.random())
  if (random) {
    var color = 'green'
    var fill = 80
    var switchStatus = 'disabled'
  } else {
    var color = 'red'
    var fill = 20
    var switchStatus = 'enabled'
  }

td.name-of-project
  .name-of-project__container
    .name-of-project__name Название проекта
    .name-of-project__id # 2342342342, Германия
td
  include ../components/flag-germany
td 1 000 000 ₽
td 22.00%
td 22.00%
td BB+
td 365 дней
td 2.00%
td
  .progress-raise
    .progress
      .progress__bar(role="progressbar" style=`width: ${fill}%;` class=`progress__bar--${color}`) Собрано 10%
    .raise(class=`raise--${switchStatus}`) 1 000 ₽ из 1 000 000 ₽
td 22.11.2022
td
  a(href="#").invest-button Инвестировать