svg(xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='114px' height='14px')
  text(kerning='auto' font-family='Myriad Pro' fill='rgb(0, 0, 0)' font-size='20px' x='0px' y='14.0619999999999px')
    tspan(font-size='20px' font-family='TestFoundersGrotesk' font-weight='bold' fill='#FFFFFF') CrowdFaster
