.menu
  .wrapper
    .menu-item
      a(href="#") Мой счёт
    .menu-item
      a(href="#") Мои инвестиции
    .menu-item
      .menu__buttons
        a(href="#").menu__button Инвестировать
        a(href="#").menu__button Привлечь капитал
    .menu-item
      a(href="#") Купить / Продать контракт
    .menu-item
      a(href="#") Аналитика
    .menu-item
      a(href="#") Избранное
