footer.footer
  .wrapper
    .footer__up
      .footer__up-column
        .footer__up-title AngelList
        .footer__up-content
          a(href="#") About
          a(href="#") Startup Jobs
          a(href="#") Recruiting
          a(href="#") Venture Investing
          a(href="#") We're Hiring
          a(href="#") Product Hunt
          a(href="#") Help Center
          a(href="#") Press
          a(href="#") Unsubscribe
      .footer__up-column
        .footer__up-title Job Collections
        .footer__up-content
          a(href="#") Remote First Future Jobs
          a(href="#") Jobs for Bootcamp Grads
          a(href="#") Junior Software Engineer Jobs
          a(href="#") Y Combinator Startup Jobs
          a(href="#") Female-founded Startup Jobs
          a(href="#") 52 Best Startup Companies To<br>Watch Out For in 2020
      .footer__up-column
        .footer__up-title Jobs by Location
        .footer__up-content
          a(href="#") Jobs in New York City
          a(href="#") Jobs in San Francisco
          a(href="#") Jobs in Austin
          a(href="#") Jobs in Boston
          a(href="#") Jobs in Washington DC
          a(href="#") Jobs in Denver
          a(href="#") Jobs in Seattle
          a(href="#") Jobs in Chicago
          a(href="#") Jobs in India
      .footer__up-column
        .footer__up-title Jobs by Role and Location
        .footer__up-content
          a(href="#") Software Engineer Jobs in San Francisco
          a(href="#") Software Engineer Jobs in New York City
          a(href="#") Software Engineer Jobs in Los Angeles
          a(href="#") Product Manager Jobs in San Francisco
          a(href="#") Product Manager Jobs in New York City
          a(href="#") Product Manager Jobs in Los Angeles
          a(href="#") Frontend Developer Jobs in San Francisco
          a(href="#") Frontend Developer Jobs in New York City
          a(href="#") Software Engineer Jobs in San Francisco
    .footer__down
      .footer__down-column
        img(src="img/logo-footer.png", alt="")
      .footer__down-column
        a(href="#") HOME
        a(href="#") GET FUNDING
        a(href="#") HELP
        a(href="#") ABOUT
        a(href="#") INVEST
        a(href="#") BLOG
        a(href="#") JOBS
        a(href="#") Join | Log in
      .footer__down-column
        .footer__down-column-item
          img(src="img/map.png", alt="")
          a(href="#") Сompany address: Lorem ipsum dolor sit amet, consectetur
        .footer__down-column-item
          img(src="img/doc.png", alt="")
          a(href="#") Documents